body {
    background-color: lightblue;
}

#wrapper {
    width: 60%;
    margin: auto;
}

#description {
    float: left;
    border-collapse: separate;
    border-spacing: 5px;
}

#calculator {
    float: right;
}

#description td {
    font-size: large;
}

#display {
    font-size: 50px;
    text-align: right;
    background-color: white;
    border-radius: 10px;
    margin-bottom: 2%;
}

#calculator button {
    font-size: 25px;
    height: 100px;
    width: 100px;
    border-style: hidden;
    border-radius: 50px;
}

#ac {
    background-color: red;
    color: white;
}

#ok {
    background-color: blue;
    color: white;
}

#calculator button:hover {
    background-color: lightgray;
}

#calculator button:active {
    background-color: gray;
}
